body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

:root {
    --cor-primaria: #2d2d2d;
    --cor-botão-azul: #007BFF;
    --cor-botão-vermelho: #ff2727;
}

h1 {
    font-size: 1.8em;
    color: var(--cor-primaria);
    text-align: center;
    font-weight: 400;
}

h2 {
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #0000001a;
}

.div-tarefas {
    background-color: #e4e4e4;
    width: 400px;
    padding: 65px;
    margin-top: 20px;
    border-radius: 20px;
}

input[type="text"] {
    width: 200px;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: var(--cor-botão-azul);
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.finalizado {
    background-color: var(--cor-botão-vermelho);
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-finalizado {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.item-da-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}